/* 
 *  Все шрифры и настройки к шрифтам
 *  */
@import './variables.sass'

// Шрифты
$primary-font: 'Roboto'
$logo-font: 'Fredoka'
$font-path: "@/assets/fonts/"

// Размеры шрифтов
$font-size-label: 1.5rem
$font-size: 1.25rem
$font-p: 1rem

$font-h1: 28px
$font-h2: 26px
$font-h3: 24px
$font-h4: 22px
$font-h5: 20px
$font-h6: 18px


// Подключение шрифтов
@font-face
  font-family: $logo-font
  src: url($font-path + '/Fredoka.ttf')
  font-weight: 400

@font-face
  font-family: $primary-font
  src: url($font-path + '/Roboto-Regular.ttf')
  font-weight: 400

%default
  font-style: normal
  font-weight: 400
  line-height: normal

%logo-font
  font-family: $logo-font
  font-size: 1.375rem
  letter-spacing: 0.028rem

%h2
  font-family: $primary-font
  color: $primary

%p
  font-family: $primary-font
  font-size: $font-p

.logo_font
  font-family: $logo-font

h1, h2, h3, h4, h5, h6, p, b, a, strong
  @extend %default

strong, b
  font-weight: 700

h1
  font-size: $font-h1

h2, .title
  font-size: $font-h2

h3
  font-size: $font-h3

h4
  font-size: $font-h4

h5
  font-size: $font-h5

h6
  font-size: $font-h6

p, .description
  @extend %p
  color: $primary3
  font-size: $font-p
  text-overflow: ellipsis
  white-space: normal

.fs-32
  font-size: 2rem

.fs-24
  font-size: 1.5rem

.fs-20
  font-size: 1.25rem

.fs-16
  font-size: 1rem

.fs-14
  font-size: 0.875rem