/* 
 *  Все шрифры и настройки к шрифтам
 *  */
@import './variables.sass'

// Шрифты
$primary-font: 'Roboto'
$logo-font: 'Fredoka'
$font-path: "@/assets/fonts/"

// Размеры шрифтов
$font-size-label: 1.5rem
$font-size: 1.25rem
$font-p: 1rem

// Подключение шрифтов
@font-face
  font-family: $logo-font
  src: url($font-path + '/Fredoka.ttf')
  font-weight: 400

@font-face
  font-family: $primary-font
  src: url($font-path + '/Roboto-Regular.ttf')
  font-weight: 400

%default
  font-style: normal
  font-weight: 400
  line-height: normal

%logo-font
  font-family: $logo-font
  font-size: 1.375rem
  letter-spacing: 0.028rem

%h2
  font-family: $primary-font
  color: $primary

%p
  font-family: $primary-font
  font-size: $font-p

.logo_font
  font-family: $logo-font