@import "variables.sass"
@import "reset.scss"
@import "fonts.sass"

/* Основной файл подключение всех стилей
 * Стилизация базовых элементов
 *
 *  */

body
    background: $background
    color: $primary

label
    font-family: 'Roboto', Arial, sans-serif
    color: $primary
    font-size: $default-font-size-label
    font-weight: 400
    word-wrap: break-word
