@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";

$body-color:                   $white;
$body-bg:                      $background;
$font-size-base: 20px;

// Inputs
$input-bg: $componentColor;
$input-focus-bg: $componentColor;
$input-color: $white;
$input-focus-color: $white;

$input-padding-y: 8px;
$input-padding-x: 16px;

$input-border-radius: 10px;
$input-border-color: none;
$input-border: none;

$input-placeholder-color: $primary2;
$input-height: 40px;
$input-focus-box-shadow: 0 0 0 2px $seccond;

// Labels
$form-label-color: $primary;
$form-label-font-size: 24px;

// Checkboxes
$component-active-bg: $input-bg;
$component-active-color: $primary2;

$form-check-input-bg: $input-bg;
$form-check-input-focus-border: $primary2;
$form-check-input-checked-bg-color: $input-bg;

$focus-ring-box-shadow: none;
$form-check-padding-start: 0;
$form-check-margin-bottom: 0;
$form-check-inline-margin-end: 0;

$form-check-input-border: 2px silid $primary2;
$input-focus-border-color: $primary2;
$form-check-input-focus-box-shadow: none;


// Buttons
$btn-color: $seccond;
$btn-font-size: 20px;
$btn-padding-y: 4px;
$btn-padding-x: 16px;

.btn {
  min-width: 224px;
}

@import "bootstrap/scss/bootstrap";

/* Основной файл подключение всех стилей
   Стилизация базовых элементов
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $seccond;
}

ul {
  padding: 0;
}