@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "fonts";

$body-color:                   $white;
$body-bg:                      $background;
$font-size-base: 20px;

// Inputs
$input-bg: $componentColor;
$input-focus-bg: $componentColor;
$input-color: $white;
$input-focus-color: $white;

$input-padding-y: 8px;
$input-padding-x: 16px;

$input-border-radius: 10px;
$input-border-color: none;
$input-border: none;

$input-placeholder-color: $primary2;
$input-height: 40px;
$input-focus-box-shadow: 0 0 0 2px $second;

$input-group-addon-bg: $componentColor;
$input-group-addon-border-color: none;

// Labels
$form-label-color: $primary;
$form-label-font-size: 24px;

// Checkboxes
$component-active-bg: $input-bg;
$component-active-color: $primary2;

$form-check-input-bg: $input-bg;
$form-check-input-focus-border: $primary2;
$form-check-input-checked-bg-color: $input-bg;

$focus-ring-box-shadow: none;
$form-check-padding-start: 0;
$form-check-margin-bottom: 0;
$form-check-inline-margin-end: 0;

$form-check-input-border: 2px silid $primary2;
$input-focus-border-color: $primary2;
$form-check-input-focus-box-shadow: none;


// Buttons
$btn-color: $second;
$btn-font-size: 1.25rem;
$btn-padding-y: 0.25rem;
$btn-padding-x: 1rem;

//forms
$form-text-font-size: 0.875rem;
$form-text-color: $primary;
$form-text-font-style: normal;
$form-text-font-weight: 400;

.btn {
  min-width: 14rem;
}

// Dropdowns
$dropdown-bg: $background;
$dropdown-border-color: $second;
$dropdown-border-radius: 0rem 0rem 0.9rem 0.9rem;;

// Borders
$border-width: 2px;

@import "bootstrap/scss/bootstrap";
@import "reset";

/* Основной файл подключение всех стилей
   Стилизация базовых элементов
*/

.fs-24 {
  font-size: 1.5rem
}

.fs-20 {
  font-size: 1.25rem
}

.fs-16 {
  font-size: 1rem
}

.fs-14 {
  font-size: 0.875rem
}

a {
  color: $second;
}