$font-path: "@/assets/fonts/"
    
@font-face
    font-family: 'Fredoka'
    src: url($font-path + '/Fredoka.ttf')
    font-weight: 400

@font-face
    font-family: 'Roboto'
    src: url($font-path + '/Roboto-Regular.ttf')
    font-weight: 400

%logo-font
    font-family: Fredoka
    font-size: 22px
    font-style: normal
    font-weight: 400
    line-height: normal
    letter-spacing: 0.44px
    
$background: #1E1E1E
$primary: #ffffff
$primary2: #DDDDDD60
$placeholder: #FFFFFF40
$componentColor: #2B2B2B
$seccond: #3492C8