/* Цветовая палитра
 *
 *
 *  */

$background: #1E1E1E
$primary: #ffffff
$primary2: #DDDDDD80
$placeholder: #FFFFFF40
$componentColor: #2B2B2B
$seccond: #007AFF

$btn-disabled: #007AFF30

$btn-hover: #007AFF80